.admin-center-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #ffdec9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vh;
}

.admin-container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.admin-container p{
    font-size: 14px;
    letter-spacing: 0.3px;
}

.admin-container span{
    font-size: 12px;
}

.admin-container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.admin-container button{
    background-color: #EC6A13;
    border: 1px solid #FFFFFF;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.admin-container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.admin-container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.admin-container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.admin-form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.admin-sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.admin-container.active .admin-sign-in{
    transform: translateX(100%);
}

.admin-sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.admin-container.active .admin-sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.admin-social-icons{
    margin: 20px 0;
}

.admin-social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.admin-toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 23;
}

.admin-container.active .admin-toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.admin-toggle{
    background-color: #EC6A13;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.admin-container.active .admin-toggle{
    transform: translateX(50%);
}

.admin-toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.admin-toggle-left{
    transform: translateX(-200%);
}

.admin-container.active .admin-toggle-left{
    transform: translateX(0);
}

.admin-toggle-right{
    right: 0;
    transform: translateX(0);
}

.admin-container.active .admin-toggle-right{
    transform: translateX(200%);
}

.Sign-In-Up-Header {
  font-size: 20rem;
}

.admin-span {
  margin: 0.6rem;
}

.div-margin {
  margin-top: 12px;
}

.error {
  font-size: 21px;
  margin: 0;
  color: rgb(148, 26, 26);
  line-height: 0.1rem;
  text-align: center;
}

.none {
  display: none;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.4;
  z-index: 23;
}

.modal-center {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  z-index: 24;
}

.modal-container {
  padding: 40px;
  background-color: #FFFFFF;
  z-index: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: pop-up 0.3s;
  border-radius: 20px;
  box-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.35);
}

.modal-container > button {
  background-color: #EC6A13;
  border-radius: 0.1rem;
  padding: 0.6rem 1.3rem;
  color: white;
  margin-top: 1.1rem;
  font-weight: bold;
}

.dont-show {
  display: none;
}

@keyframes pop-up {
  from {
    opacity: 0;
    transform: scale(0.8);
  } to {
    opacity: 1;
    transform: scale(1);
  }
}

.options {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
}

.options > button {
  min-height: 50px;
  max-height: 50px;
}

.options {
  overflow-y: auto;
}

.options::-webkit-scrollbar {
  background: #EC6A13;
}

.options::-webkit-scrollbar-thumb {
  background: #e69560;
}

.card-dashboard-admin {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-dashboard-admin > * {
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  align-items: center;
  min-height: 150px;
  margin-right: 15px;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.35);
}